@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:where(.dark, .dark *) {
  color-scheme: dark;
}

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #E6CCFF;
}

::-webkit-scrollbar {
  display: none;
}

.custom-font {
  font-family: "Exo 2", sans-serif;
}

.reset-tw :not(pre):not(code){
all:revert;
}

.loader div:nth-last-child(2) {
animation-delay: 0.2s;
}

.loader div:nth-last-child(3) {
animation-delay: 0.4s;
}